<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://marksfirstazurefunction20190504033046.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/efdc8b06-8f7a-437d-88a7-1cc91b341052/resourcegroups/StrendinFunctions/providers/Microsoft.Web/sites/MarksFirstAzureFunction20190504033046</ResourceId>
    <UserName>$MarksFirstAzureFunction20190504033046</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://marksfirstazurefunction20190504033046.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>